<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 place-items-center">
    <app-pokemon-list-item 
    *ngFor="let singlePokemon of pokemon"
    [singlePokemon] = "singlePokemon"
></app-pokemon-list-item>
</ul>