<li *ngIf="singlePokemon" class="card">
  <div class="flex justify-center">
      {{ singlePokemon.name }}
  </div >
  <img [src]="singlePokemon.image" [alt]="singlePokemon.name" class="h-56 w-56"/> 
  <div class="flex justify-center">
    <app-catch-pokemon-button [pokemonName]="singlePokemon.name"></app-catch-pokemon-button>
  </div>
</li>