<nav
  class="bg-yellow-500 flex justify-between items-center p-4 sticky top-0 w-full z-10"
>
  <span class="font-bold">Pokemon</span>
  <ng-container
    *ngIf="trainer !== undefined; then loggedIn; else loggedOut"
  ></ng-container>
  <ng-template #loggedIn>
    <ul class="flex">
      <li class="px-4">
        <a routerLink="/trainer">Trainer</a>
      </li>
      <li class="px-4">
        <a routerLink="/catalogue">Catalogue</a>
      </li>
      <li class="px-4">
        <button (click)="logoutClick()" type="button" class="bg-white px-2 py-0 rounded">
          Logout
        </button>
      </li>
    </ul>
  </ng-template>
  <ng-template #loggedOut> </ng-template>
</nav>
