<aside>
  <button (click)="onCatch()">
    <ng-container *ngIf="!loading; else spinner">
      <ng-container
        *ngIf="isCaught; then caught; else notCaught"
      ></ng-container>
      <ng-template #caught>
        <!-- <span> release </span> -->
        <img src="../../../assets/images/pokeball.svg" alt="poke-ball" class="h-14 col-start-5"/>
      </ng-template>
      <ng-template #notCaught>
        <!-- <span> catch </span> -->
        <img src="../../../assets/images/pokeball.svg" alt="poke-ball" class="h-14 col-start-5 grayscale"/>
      </ng-template>
    </ng-container>

      <ng-template #spinner class="flex justify-center items-center">
        <img src="../../../assets/images/spinner.svg" class="h-14 spinner"/>
      </ng-template>
  </button>
</aside>