<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <div class="grid grid-cols-12">
        <div class="col-start-1 col-span-10 md:col-start-4 md:col-end-9">
            <fieldset class="mb-3 px-2 py-4">
                <label for="username" class="block"></label>
                <!-- ngModel directive to bind input to form which is it's immediate parent
                    #username is template variable and can be used for form validation-->
                <input type="text" 
                ngModel
                #username="ngModel"
                name="username" 
                required
                maxlength="10"
                minlength="3"
                pattern="[A-Za-z0-9]*"
                id="username" 
                class="border border-slate-300 p-2 rounded w-full" 
                placeholder="Enter Username" />
            </fieldset>
        
            <div class="text-white" *ngIf="username.errors && (username.dirty || username.touched)">
                <p *ngIf="username.errors['required']">Username is required</p>
                <p *ngIf="username.errors['minlength']">Username too short</p>
                <p *ngIf="username.errors['maxlength']">Username too long</p>
                <p *ngIf="username.errors['pattern']">Username should only contain english letters and numbers</p>
            </div>
        </div>
        <div class="col-start-11 col-end-12 md:col-start-9 md:col-end-10 py-4">
            <button 
            [disabled]="loginForm.invalid"
            type="submit" 
            class="bg-yellow-500 p-2 rounded">
            <ng-container *ngIf="!loading; else spinner">
                <span>Login</span>
            </ng-container>
            <ng-template #spinner class="flex justify-center items-center">
                <img src="../../../assets/images/spinner.svg" class="spinner"/>
              </ng-template>
        
        </button>
            
        </div>
    </div>

</form>