<header class="container mx-auto p-4">
    <h1 class="text-3xl text-white">Welcome, {{trainer?.username}}</h1>
  </header>
  
  <main class="container mx-auto p-4">
      <ng-container
        *ngIf="pokemonWithImage.length > 0; then displayCollection; else displayNoCollection"
      ></ng-container>
      <ng-template #displayCollection>
        <h2 class="text-xl text-white">Caught Pokemons</h2>
        <app-pokemon-list [pokemon]="pokemonWithImage"> </app-pokemon-list>
      </ng-template>
      <ng-template #displayNoCollection>
        <h2 class="text-xl text-white">No Pokemons caught</h2>
      </ng-template>
  </main>