<main class="container mx-auto p-4">
    <p class="text-white" *ngIf="loading">Loading Pokemons...</p>
    <!-- [pokemons]="pokemons" calls the getter of pokemons -->
    <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
</main> 